h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
fieldset,
label,
legend {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
html, body {
    width: 100%;
    height: 100%;
}
.table {
    cursor: pointer;
    margin-bottom: 40px;
}
th {
    position: relative;
}
.table thead th{
    border-top: none;
    border-bottom: 3px solid #3F3F3F;
}
.table tbody {
    border-bottom: 3px solid #3F3F3F;
}
th::before {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-top: 9px solid #dee2e6;
    bottom: 6px;
    right: 0;
}
th::after {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 9px solid #dee2e6;
    top: 6px;
    right: 0;
}
.down::before {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-top: 9px solid #7C81DB;
    bottom: 6px;
    right: 0;
}
.Pagination {
    text-align: right;
    padding: 0 20px 0 0;
}
.Pagination__item {
    display: inline-block;
    vertical-align: top;
    padding: 6px 12px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.Pagination__item + .Pagination__item {
    margin-left: 10px;
}
.Pagination__item:disabled {
    cursor: default;
}
.Pagination__item:focus {
    outline: none;
}
.Pagination__item:disabled:hover {
    background: transparent;
    outline: none;
}
.Pagination__item:hover {
    background: #F2F2F2;
    outline: 1px solid #dee2e6;
}
.Pagination__item--active:focus {
    outline: 1px solid #dee2e6;
}
.Pagination__item--active {
    background: #F2F2F2;
    outline: 1px solid #dee2e6;
}
.main-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px 0;
}
.main-search__label {
    line-height: 25px;
    font-size: 1rem;
    margin-right: 10px;
}
.main-search__btn {
    font-weight: 500;
}
.main-search__field {
    min-width: 250px;
}

